{% extends "base.html" %}

{% block content %}
{% if producto %}
    <div class="row">
        <!-- Imagen del producto -->
        <div class="col-md-6">
            <img src="{{ producto.imagen.url }}" alt="{{ producto.nombre }}" class="img-fluid rounded shadow-lg">
        </div>

        <!-- Detalles del producto -->
        <div class="col-md-6">
            <h1 class="display-4">{{ producto.nombre }}</h1>
            <hr>
            <p class="lead">{{ producto.descripcion }}</p>
            <h3 class="text-primary mb-4">Precio: ${{ producto.precio }}</h3>
            
            <!-- Botón para agregar al carrito (opcional) -->
            <a href="#" class="btn btn-success btn-lg">Agregar al carrito</a>
        </div>
    </div>
{% else %}
    <div class="alert alert-info" role="alert">
        Selecciona una categoría para ver los productos.
    </div>
    <h1>Categorías</h1>
<ul>
{% for categoria in categorias %}
    <li><a href="{% url 'productos_por_categoria' categoria.id %}">{{ categoria.nombre }}</a></li>
{% endfor %}
</ul> 
{% endif %}
{% endblock %}
